{% extends "AppMainBundle:Default:layout.html.twig" %}

{% block title %}{{ category.getName() }}{% endblock %}
{% block keywords %}{{ category.getKeywords() }}{% endblock %}

{% block content %}
	<div class="location">
		<span class="location section">
			<a href="/">Главная</a>
		</span>

		{% for item in parents %}
			{% if loop.index != loop.last %}
				<span class="location separate">»</span>
				<span class="location section">
					<a href="{{ path('app_catalog_category', {'id': item.getId()}) }}">{{ item.getTitle() }}</a>
				</span>
			{% endif %}
		{% endfor %}
	</div>

	<h1 class="gbi-section"> {{ category.getH1() }} </h1>
	{% if category.isTextPublished %}
		{% autoescape false %}
			{{ category.text }}
		{% endautoescape %}
	{% endif %}
	<div class="gbi-list" id="gbi-list">
		<table>
			<tr>
				<th colspan="2">Код</th>
				<th>Наименование и марка ЖБИ изделия</th>
				<th>Цена</th>
				<th>Количество</th>
			</tr>
			{% for product in category.getProducts() if product.isActive %}
				<tr>
					<td class="gbi-list photo">
						<img src="/bundles/main/images/bullet.png">
					</td>
					<td class="gbi-list code">
						{% if product.getNomen() != 0 %}
							{{ product.getNomen() }}
						{% endif %}
					</td>
					<td class="gbi-list name">
						<a href="{{ path('app_catalog_product', {'id': product.getId()}) }}">{{ product.getName() }}</a></td>
					<td class="gbi-list price">
						{% if product.price %}
							{{ product.getPriceRounded() }} руб.
						{% else %}
							По запросу
						{% endif %}
					</td>
					<td class="gbi-list buy">
						<div class="shk-item">
							<form>
								<fieldset>
									<div class="shk_basket_count">
										<input type="text" name="shk-count" id="shk-count-{{ product.getId() }}" value="10" size="2" maxlength="5" class="basket-rest" style="height: 16px; border: 1px solid rgb(136, 136, 136); vertical-align: bottom; text-align: center; padding: 1px 2px; font-size: 13px; margin-bottom: 0px">
										<img class="field-arr-up" onclick="return spinUpCount(this)" src="/bundles/main/images/spin-up.png" width="17" height="9" alt="" style="cursor: pointer; margin: 0px 0px 11px -2px; vertical-align: bottom;">
										<img class="field-arr-down" onclick="return spinDownCount(this)" src="/bundles/main/images/spin-down.png" width="17" height="9" alt="" style="cursor: pointer; margin: 0px 0px 1px -17px; vertical-align: bottom;">
									</div>
									<div class="shk_basket_buy">
										<input onclick="return Cart.add({{ product.getId() }}, $(this).closest('fieldset').find('.basket-rest').val());" type="submit" class="btn-gray add-basket" id="shk-submit-{{ product.getId() }}" name="shk-submit" type="submit" value="Заказать" data-tooltip="Товар добавлен в заказ">
									</div>
								</fieldset>
							</form>
						</div>
					</td>
				</tr>
			{% endfor %}
		</table>
		<p class="price-desc price-desc-1">Все цены на железобетонные изделия указаны с НДС</p>
		<p class="price-desc price-desc-last price-desc-1">Не является публичной офертой</p>
	</div>
{% endblock %}