{% extends "AppMainBundle:Default:layout.html.twig" %}

{% block title %}{{ category.getName() }}{% endblock %}
{% block keywords %}{{ category.getKeywords() }}{% endblock %}

{% block content %}
  <div class="location">
    <span class="location section">
      <a href="/">Главная</a>
    </span>

    {% for item in parents %}
      {% if loop.index != loop.last %}
        <span class="location separate">»</span>
        <span class="location section">
          <a href="{{ path('app_catalog_category', {'id': item.getId()}) }}">{{ item.getTitle() }}</a>
        </span>
      {% endif %}
    {% endfor %}
  </div>

  <h1 class="gbi-section"> {{ category.getH1() }} </h1>
  {% if category.isTextPublished %}
    {% autoescape false %}
      {{ category.text }}
    {% endautoescape %}
  {% endif %}
  <div class="gbi-list" id="gbi-list">
    <table>
      <tr>
        <th colspan="2">Код</th>
        <th>Наименование/Марка</th>
        <th>Цена</th>
        <th>Количество</th>
      </tr>
      {% for product in category.getProducts() if product.getNomen() != 0 %}
        {% include "AppMainBundle:Catalog:section.explore.table.row.html.twig" %}
      {% endfor %}

      {% for product in category.getProducts() if product.getNomen() == 0 %}
        {% include "AppMainBundle:Catalog:section.explore.table.row.html.twig" %}
      {% endfor %}
    </table>
    {% if category.getLinkToStkMetal() %}
      {% include 'AppMainBundle:Catalog:related.stk-metal.html.twig' %}
    {% endif %}
    <p class="price-desc price-desc-1">Все цены на железобетонные изделия указаны с НДС</p>
    <p class="price-desc price-desc-last price-desc-1">Не является публичной офертой</p>
  </div>
{% endblock %}