<aside class="sidebar">
  <div class="sidebar-tree" id="js-tree"></div>

  <ul class="sidebar-links list-unstyled" id="sidebar-links">
    <li class="sidebar-links-item">
      <a href="{{ path('admin_category_list') }}" class="sidebar-link">Категории</a>
    </li>
    <li class="sidebar-links-item">
      <a href="{{ path('admin_product_list') }}" class="sidebar-link">Изделия</a>
    </li>
    <li class="sidebar-links-item">
      <a href="{{ path('admin_territory_list') }}" class="sidebar-link">Территории</a>
    </li>
    <li class="sidebar-links-item">
      <a href="{{ path('admin_object_list') }}" class="sidebar-link">Объекты</a>
    </li>
    <li class="sidebar-links-item">
      <a href="{{ path('admin_post_list') }}" class="sidebar-link">Новости</a>
    </li>
    <li class="sidebar-links-item">
      <a href="{{ path('admin_staticpage_list') }}" class="sidebar-link">Страницы</a>
    </li>
  </ul>
</aside>