{% extends "AppAdminBundle:Admin:layout.html.twig" %}

{% block title %}Админка | Табличный редактор{% endblock %}

{% block admin_breadcrumbs %}
  <div class="header-links navbar-left">
    <ol class="header-links-breadcrumbs breadcrumb">
      <li><a href="/admin">Dashboard</a></li>
      <li class="atrhidective">Табличный редактор продуктов</li>
    </ol>
  </div>
{% endblock %}

{% block content %}{% autoescape false %}{{ tablegear_content }}{% endautoescape %}{% endblock %}

{% block footerjs %}
  {{ parent() }}

  <script src="{{ asset('bundles/catalog/plugins/tablegear/javascripts/TableGear1.6.1-jQuery.js') }}"></script>
  <script src="{{ asset('bundles/catalog/plugins/tablegear/javascripts/tablegear-jquery_bootstrap.js') }}"></script>
  <script src="{{ asset('bundles/admin/js/tableGear.js') }}"></script>
{% endblock %}