<div id="cart-dropdown">
    {% verbatim %}
        <script id='template' type='text/ractive'>
            <div id="shop-cart" class="shop-cart">
                <a href="/order/">
                    <div id="cartInner" class="{{#if products.length > 0}}cart-full{{else}}cart-empty{{/if}}">
                        <div class="basket-content">{{ products.length }}</div>
                    </div>
                </a>
            </div>
            <div id="dropdown-basket" class="mbasket-items">
                {{#if products.length > 0 }}
                    <table width="100%">
                        {{#each products}}
                            <tr class="cart-order">
                                <td align="right" nowrap="">
                                    <a href="{{url}}" title="{{name}}">
                                       <b>{{name}}</b>
                                    </a>
                                </td>
                                <td align="center" nowrap>
                                    {{#if price}}
                                        {{price}} руб.
                                    {{else}}
                                        По запросу
                                    {{/if}}
                                </td>
                                <td align="center" class="count-spinner" nowrap>
                                    {{ count }} шт.
                                </td>
                                <td align="center">
                                    <a onclick="return Cart.remove({{ id }}, {{ count }});" title="Удалить" class="shk-del"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                        {{/each}}
                            <tr class="cart-order">
                                <td  align="right" nowrap><strong>Итого:</strong></td>
                                <td align="center" nowrap> {{ getTotalPrice() }}</td>
                                <td align="center">
                                     <a onclick="return Cart.clean();" title="Удалить все" class="shk-del">Удалить все</a>
                                </td>
                            </tr>
                        </table>
                 {{else}}
                 <span class="empty-cart-dropdown">Нет выбранных позиций. Перейти к <a id="catalog-link" href="/gbi/visual/">каталогу</a>. </span>
                 {{/if}}
            </div>
        </script>
    {% endverbatim %}
</div>