{% extends "AppMainBundle:Default:layout.html.twig" %}

{% block title %}
   Beston
{% endblock %}

{% block description %}
{% endblock %}


{% block content %}
    <div class="center-col">
            <div class="news-block">
                <div class="content-header">
                    <p>Новости компании</p>
                </div>
                {% for prenews in news|slice(0,3) %}
                    <div class="news-small">
                        <p class="date">{{ prenews.date|date('d.m.Y') }}</p>
                        <p>{{ prenews.header }} <br />
                            {{ prenews.introtext }}...
                        </p>
                        <a href="{{ path('show_one_news', {'newsId':prenews.Id}) }}">подробнее</a>
                    </div>

                {% endfor %}

            </div>
            <div class="main-info">
                <p class="info-header">Блок питания</p>
                <p>Аккумулятор для CANON AutoBoy Mini J BST-CR123A обеспечит качественную и надежную работу вашему фотоаппарату. Он является аналогом оригинального АКБ CR123A, но по ключевым характеристикам нисколько не уступает ему. Главной особенностью данной модели является время зарядки, которое не превышает двух часов. В том случае, если необходимо использовать фотокамеру в течение продолжительного времени, заряд аккумулятора все равно будет сохраняться и обеспечивать вас надежной работой. Данная батарея относится к высококачественному продукту благодаря отсутствию «эффекта памяти», большой энергетической плотности и низкому саморазряду. На одном заряде этого элемента пользователь сможет сделать большое количество снимков.
                    Как купить аккумулятор у нас?</p>
                <p>Для приобретения данного товара поместите его в корзину нажатием кнопки «купить» рядом с ценой товара. После этого Вы автоматически попадете на страницу оформления заказа. Процедура оформления заказа предельно проста и заключается в выборе региона доставки, способов доставки и оплаты вашего заказа, а также заполнения необходимых контактных данных. Регистрация на сайте при этом не требуется.
                </p>
                <p>Если рядом с ценой товара отсутствует кнопка «купить», значит в данный момент его нет в наличии. В этом случае Вы можете узнать об ожидаемом его поступлении у оператора по телефону или по электронной почте.
                </p>
                <p>Обратите ВНИМАНИЕ, что производитель может внести изменения в комплектацию, технические характеристики и внешний вид товара без уведомления.
                    Информация о доставке</p>
                <p>Представленный на этой странице продукт можно приобрести в нашем интернет-магазине Nixstore.ru с доставкой по всей России. Доставка по Санкт-Петербургу и Москве осуществляется курьером, в другие города и населенные пункты заказы высылаем бандеролью 1 класса Почтой России. Пожалуйста, обратите внимание, что доставка Почтой России возможна только после стопроцентной предоплаты товара.</p>
                <p>При заказе товара в Санкт-Петербурге и Москве есть возможность самостоятельного вывоза товара из пунктов выдачи заказов. Адреса и условия получения заказа опубликованы в разделах «Самовывоз в СПб» и «Самовывоз в Москве».<br />                    <p>При заказе товара в Санкт-Петербурге и Москве есть возможность самостоятельного вывоза товара из пунктов выдачи заказов. Адреса и условия получения заказа опубликованы в разделах «Самовывоз в СПб» и «Самовывоз в Москве».<br />Информация об оплате</p>
                </p>
                <p>Покупки в нашем интернет-магазине Вы можете оплатить наличными, электронными деньгами или банковским переводом в зависимости от Вашего региона и выбранного способа доставки.
                    Информация о гарантии</p>
            </div>
    </div>
        <div class="main-right-col">
            <div class="top-product">
                <div class="top-product-header">
                    <p>топ розничных продаж</p>
                </div>
                {% for product in products %}
                <div class="product">
                    <a href="{{ path('app_product',{'productId':product.id }) }}">
                        <img src="/{{ product.filepath }}">
                        <br/>
                        {{ product.name }}
                    </a>
                </div>
                    {% endfor %}
            </div>
        </div>

{% endblock %}