{% extends "AppMainBundle:Default:base.layout.html.twig" %}

{% block csslinks %}
	<link rel="stylesheet" href="{{ asset('bundles/main/css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/main/css/font-awesome.min.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/main/plugins/darktooltip/darktooltip.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/main/plugins/shadowbox/shadowbox.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/main/css/main.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/main/css/frame.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/main/css/twirl.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/main/css/visual-gbi.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/main/css/shop-gbi.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/main/css/jquery.ui.all.min.css') }}">
{% endblock %}

{% block jslinks %}
	<script src="http://yandex.st/jquery/1.8.1/jquery.min.js"></script>
{% endblock %}

{% block body %}
	<div class="redline"></div>
	<div class="page-all">
	<div class="page-header">
		<div class="page-header-left-colon">
			<div class="logo">
				<div class="logo-praim"><a href="{{ path('app_main_staticpage', {'alias': 'praimgroup'}) }}"><img src="/bundles/main/images/tel-logo-praim.png"/></a>
				</div>
				<div class="logo-prom" onclick="location.href='/'">
					<div class="logo-image"><img src="/bundles/main/images/logo.png"/></div>
					<div class="logo-text"><a href="/">завод железобетонных изделий </a></div>
				</div>

			</div>
			<table class="m-contacts_new vcard">
				<tr>
					<td rowspan="2">
						<p><i>Санкт-Петербург:</i></p>
						<p>8 <span class="code">(812)</span> <span class="tel 1">655-73-60</span></p>
						<p>8 <span class="code">(812)</span> <span class="tel 2">655-72-95</span></p>
						<p><i>Москва:</i></p>
						<p>8 <span class="code">(499)</span> <span class="tel 3">649-33-79</span></p>
						<p><i>Архангельск:</i></p>
						<p>8 <span class="code">(8182)</span> <span class="tel 4">63-92-35</span></p>
					</td>
					<td style="vertical-align: top;">
						<p style="display: none" class="fn org url">www.stroyprombeton.ru</p>

						<p>электронная почта:</p>
						<a href="mailto:info@stroyprombeton.ru">info@stroyprombeton.ru</a>
						<div>
							<p style="margin-top: 20px;">адрес офиса продаж:</p>
							<p class="adr"><span class="locality">Санкт-Петербург</span>,<br>
								<span class="street-address"> пр. Елизарова 38А, офис 218</span></p>
						</div>
					</td>
				</tr>
			</table>
		</div>
		<div class="page-header-right-colon-container">
			<div class="page-header-right-colon"></div>
		</div>
	</div>


	<div class="clearing"></div>
	<div class="menu-h">
		<ul>
			<li><a href="/">Главная</a></li>
			<li><a href="{{ path('app_catalog_gbi_visual') }}">Каталог продукции</a></li>
			<li><a href="{{ path('app_main_staticpage', { 'alias': 'about' }) }}">О компании</a></li>
			<li><a href="{{ path('app_main_staticpage', { 'alias': 'proizvodstvo-gbi' }) }}">Производство</a></li>
			<li><a href="{{ path('app_main_territory_map') }}">Наши объекты</a></li>
			<li><a href="{{ path('app_main_staticpage', { 'alias': 'delivery' }) }}">Доставка</a></li>
			<li><a href="{{ path('app_main_staticpage', { 'alias': 'contacts' }) }}">Контактная информация</a></li>
			<li>
				<div id="sticky-wrapper" class="basket-sticky-wrapper basket-sticky">
					<div class="basket basket-sticky">
						<div class="menu-basket">
							{% include 'AppCatalogBundle:Cart:cart.html.twig' %}
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div class="page-content">
		<div class="menu-v">
			<div class="menu-v-top"></div>
			<div class="menu-v-content-wrapper">
				<div class="menu-v-content">
					{{ buildCategoryTree(2) }}
				</div>
			</div>
			<div class="menu-v-bottom"></div>
			<div class="OrderPrice">
				<a class="a_price" href="{{ path('app_main_staticpage', { 'alias': 'konstruktor' }) }}">
					<img src="/assets/images/order_draw.png" title="изготовление изделий по индивидуальным чертежам" alt="производство конструкций по индивидуальным чертежам">
				</a>
			</div>
			<div class="OrderPrice">
				<a class="a_price" href="{{ path('app_main_price_list_booking') }}">
					<img src="/assets/images/order_price.png" title="прайс-листы на изделия" alt="прайс-листы на конструкции">
				</a>
			</div>
			<div class="OrderDraw">
				<a href="{{ path('app_main_staticpage', { 'alias': 'izgotovlenie-gbi-po-chertezham' }) }}">
					<img src="/assets/images/inf_konstructor.png" title="Расчёт заявок на изделия" alt="Расчёт заявок на конструкции">
				</a>
			</div>

			{#Вариант с ссылкой в новой вкладке: <div class="partners-table" onclick="window.open('/praimgroup', '_blank'); return false;">#}
			<a href="{{ path('app_main_staticpage', {'alias': 'praimgroup'}) }}" target="__blank">
				<div class="partners-table">
					<div class="partners-table-header">
						<p>Группа</p>
						<img src="{{ asset('bundles/main/images/partners-table-header.png') }}">
					</div>
					<table class="partners-table">
						<tr>
							<td>
								<img src="{{ asset('bundles/main/images/metall.png') }}" alt="stk-metal.ru" class="logo"/>
								<p style="color:#005CC7;">СТК-МЕТАЛЛ</p>
								<p class="partner-desc" style="color:#005CC7;">завод металлоконструкций</p>
							</td>
							<td>
								<img src="{{ asset('bundles/main/images/sk78.png') }}" alt="sk78.ru" class="logo" style="margin-top: 5px;"/>
								<p style="color:#747675;">Строй<span style="color: #FFA700;">К</span>омплект</p>
								<p class="partner-desc" style="color:#747675;">проектирование и строительство</p>
							</td>
							{#<td>#}
							{#<img src="{{ asset('bundles/main/images/modul.png') }}" alt="stk-modul.ru" class="logo"/>#}
							{#<p style="color: #C20000;">СТК-Модуль</p>#}
							{#<p class="partner-desc" style="color: #C20000;">поставка нерудных материалов</p>#}
							{#</td>#}
							<td>
								<img src="{{ asset('bundles/main/images/auto.png') }}" alt="avtospecservis.ru" class="logo"/>
								<p style="color:#0757a1">АвтоСпецСервис</p>
								<p class="partner-desc" style="color:#0757a1">ремонт грузовых автомобилей</p>
							</td>
						</tr>
					</table>
				</div>
			</a>
		</div>



		<div class="content-container">
			<div class="content">
				<div class="search-form">
					<table>
						<tr>
							<td class="search-form-title">Поиск в каталоге продукции</td>
							<td class="search-form-input">
								<input id="search_condition" type="text" value="{% if searchCondition|default %}{{ searchCondition }}{% else %}Запрос для поиска (не менее 2 символов){% endif %}"/>
							</td>
							<td class="search-form-submit"><input id="search-action-btn" type="button" value="Найти"/></td>
						</tr>
					</table>
				</div>
				<div class="primary-content">
					{% block content %}{% endblock %}
				</div>
			</div>
		</div>
	</div>

	<div class="clearing"></div>

	<div class="footer-empty">&nbsp;</div>
	<div class="footer rcs">
		<div>Все права защищены. <script>document.write("2009-"+new Date().getFullYear());</script> ООО &laquo;СТК-ПромБетон&raquo; (Санкт-Петербург)</div>
	</div>
	</div>

	<div class="redline"></div>
{% endblock %}

{% block js %}
	<script src="http://yandex.st/jquery-ui/1.8.23/jquery.ui.core.min.js"></script>
	<script src="http://yandex.st/jquery-ui/1.8.23/jquery.ui.widget.min.js"></script>
	<script src="http://yandex.st/jquery-ui/1.8.23/jquery.ui.position.min.js"></script>
	<script src="http://yandex.st/jquery-ui/1.8.23/jquery.ui.autocomplete.min.js"></script>
	<script src="{{ asset('bundles/main/js/jquery.history.js') }}"></script>
	<script src="{{ asset('bundles/main/js/jquery.mousewheel.js') }}"></script>
	<script src="{{ asset('bundles/main/js/jquery.jcarousel.min.js') }}"></script>
	<script src="{{ asset('bundles/main/js/jquery.sticky.js') }}"></script>
	<script src="{{ asset('bundles/main/js/jquery.spin.js') }}"></script>
	<script src="{{ asset('bundles/main/js/jquery.mask.min.js') }}"></script>
	<script src="{{ asset('bundles/main/js/jquery.darktooltip.min.js') }}"></script>
	<script src="{{ asset('bundles/main/js/shop-gbi.js') }}"></script>
	<script src="{{ asset('bundles/main/js/engine-gbi.js') }}"></script>
	<script src="{{ asset('bundles/main/plugins/shadowbox/shadowbox.js') }}"></script>
	<script src="{{ asset('bundles/main/js/bootstrap.min.js') }}"></script>
	<script src="{{ asset('bundles/catalog/js/cart.js') }}"></script>

	<script >
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-27310520-1']);
		_gaq.push(['_trackPageview']);

		(function () {
			var ga = document.createElement('script');
			ga.type = 'text/javascript';
			ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(ga, s);
		})();
	</script>
	<script src="/bundles/main/js/jquery.tooltipster.min.js"></script>
	<script src="/bundles/main/js/jquery.maphilight.min.js"></script>

	<script>
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-27310520-1']);
		_gaq.push(['_trackPageview']);

		(function () {
			var ga = document.createElement('script');
			ga.type = 'text/javascript';
			ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(ga, s);
		})();
	</script>

	<script>
		Shadowbox.init({
			handleOversize: "drag",
			animSequence: "hw"
		});
	</script>

	<!-- Yandex.Metrika counter -->
	<script>
		(function (d, w, c) {
			(w[c] = w[c] || []).push(function () {
				try {
					w.yaCounter20644051 = new Ya.Metrika({id: 20644051,
						webvisor: true,
						clickmap: true,
						trackLinks: true,
						accurateTrackBounce: true});
				} catch (e) {
				}
			});

			var n = d.getElementsByTagName("script")[0],
					s = d.createElement("script"),
					f = function () {
						n.parentNode.insertBefore(s, n);
					};
			s.type = "text/javascript";
			s.async = true;
			s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

			if (w.opera == "[object Opera]") {
				d.addEventListener("DOMContentLoaded", f, false);
			} else {
				f();
			}
		})(document, window, "yandex_metrika_callbacks");
	</script>

	<noscript>
		<div><img src="//mc.yandex.ru/watch/20644051" style="position:absolute; left:-9999px;" alt=""/></div>
	</noscript>
	<!-- /Yandex.Metrika counter -->

	<!-- Google analitics -->
	<script>
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-42242414-1']);
		_gaq.push(['_trackPageview']);

		(function () {
			var ga = document.createElement('script');
			ga.type = 'text/javascript';
			ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(ga, s);
		})();
	</script>

	<!-- Callbaska -->
		<script src="https://my.callbaska.ru/callback.js" async charset="utf-8"></script>
	<!-- Callbaska -->
{% endblock %}