{% extends "AppMainBundle:Default:base.layout.html.twig" %}

{% block csslinks %}
	<link rel="stylesheet" href="{{ asset('bundles/main/css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/main/css/font-awesome.min.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/main/plugins/font-awesome-4/font-awesome.min.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/main/plugins/darktooltip/darktooltip.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/main/plugins/shadowbox/shadowbox.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/main/css/main.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/main/css/frame.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/main/css/twirl.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/main/css/visual-gbi.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/main/css/shop-gbi.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/main/css/jquery.ui.all.min.css') }}">
{% endblock %}

{% block jslinks %}
	<script src="http://yandex.st/jquery/1.8.1/jquery.min.js"></script>
    <script src='http://cdn.ractivejs.org/edge/ractive.min.js'></script>
    <script type="text/javascript" src="{{ asset('bundles/main/js/ractiveAdaptor.js') }}"></script>
{% endblock %}

{% block body %}
	<div class="redline"></div>
	<div class="page-all">
		<div class="header clearfix">
			<div class="header-left-colomn">
				<div class="header-logo">
					<a class="header-logo-link" href="/">
						<img src="/bundles/main/images/logo.png" title="На главную" alt="Логотип">
						<span class="header-logo-text">завод железобетонных изделий</span>
					</a>
				</div>

				<table class="header-contacts m-contacts_new vcard">
					<tr>
						<td>
							<p class="header-city text-muted"><i>Санкт-Петербург:</i></p>
							<p class="header-phone">
								<strong>8 <span class="code">(812)</span> <span class="tel 1">655-73-60</span></strong>
							</p>
							<p class="header-phone header-phone-last">
								<strong>8 <span class="code">(812)</span> <span class="tel 2">655-72-95</span></strong>
							</p>

							<p class="header-city text-muted"><i>Москва:</i></p>
							<p class="header-phone header-phone-last">
								8 <span class="code">(499)</span> <span class="tel 3">649-33-79</span>
							</p>
						</td>

						<td>
							<p class="header-city text-muted"><i>Архангельск:</i></p>
							<p class="header-phone header-phone-last">
								8 <span class="code">(8182)</span> <span class="tel 4">63-92-35</span>
							</p>

							<p class="header-city text-muted"><i>Мурманск:</i></p>
							<p class="header-phone header-phone-last">
								8 <span class="code">(8152)</span> <span class="tel 5">65-50-48</span>
							</p>

							<p style="display: none" class="fn org url">www.stroyprombeton.ru</p>
						</td>

						<td>
							<a class="header-email" href="mailto:info@stroyprombeton.ru"><i class="fa fa-envelope"></i> info@stroyprombeton.ru</a>
							<p class="header-address-title text-muted">Адрес офиса продаж:</p>
							<p class="header-address">
								<i class="icon icon-map-marker"></i>
								Санкт-Петербург, <br>
								пр. Елизарова 38А, <br>
								офис 218
							</p>
						</td>
					</tr>
				</table>
			</div>
			<div class="header-right-colomn-container">
				<div class="header-right-colomn"></div>
			</div>
		</div>

		<ul class="menu">
			<li><a href="/">Главная</a></li>
			<li><a href="{{ path('app_main_staticpage', { 'alias': 'ordering' }) }}">Оформление заказа</a></li>
			<li><a href="{{ path('app_main_staticpage', { 'alias': 'delivery' }) }}">Доставка</a></li>
			<li><a href="{{ path('app_main_staticpage', { 'alias': 'proizvodstvo-gbi' }) }}">Производство</a></li>
			<li><a href="{{ path('app_main_territory_map') }}">Наши объекты</a></li>
			<li><a href="{{ path('app_main_staticpage', { 'alias': 'about' }) }}">О компании</a></li>
			<li><a href="{{ path('app_main_staticpage', { 'alias': 'contacts' }) }}">Контакты</a></li>
			<li>
				<div id="sticky-wrapper" class="basket-sticky-wrapper basket-sticky">
					<div class="basket basket-sticky">
						<div class="menu-basket">
							{% include 'AppCatalogBundle:Cart:cart.html.twig' %}
						</div>
					</div>
				</div>
			</li>
		</ul>

		<div class="page-content">
			<div class="menu-v">
				<div class="menu-v-content-wrapper">
					<div class="menu-v-content">
						{% include 'AppCatalogBundle:Extension:akkordion.tree.html.twig' with {categoryTree: getCategoryTree(), depth: 2} %}
					</div>
				</div>

				<div class="OrderPrice">
					<a class="a_price" href="{{ path('app_main_staticpage', { 'alias': 'konstruktor' }) }}">
						<img src="/assets/images/inf_konstructor.png" title="Расчёт заявок на изделия" alt="Расчёт заявок на конструкции">
					</a>
				</div>

				<div class="OrderPrice">
					<a class="a_price" href="{{ path('app_main_price_list_booking') }}">
						<img src="/assets/images/order_price.png" title="прайс-листы на изделия" alt="прайс-листы на конструкции">
					</a>
				</div>

				<div class="OrderDraw">
					<a href="{{ path('app_main_staticpage', { 'alias': 'izgotovlenie-gbi-po-chertezham' }) }}">
						<img src="/assets/images/order_draw.png" title="изготовление изделий по индивидуальным чертежам" alt="производство конструкций по индивидуальным чертежам">
					</a>
				</div>

				{#Вариант с ссылкой в новой вкладке: <div class="partners-table" onclick="window.open('/praimgroup', '_blank'); return false;">#}
				<a href="{{ path('app_main_staticpage', {'alias': 'praimgroup'}) }}" target="__blank">
					<div class="partners-table">
						<div class="partners-table-header">
							<p>Группа</p>
							<img src="{{ asset('bundles/main/images/partners-table-header.png') }}">
						</div>
						<table class="partners-table">
							<tr>
								<td>
									<img src="{{ asset('bundles/main/images/metall.png') }}" alt="stk-metal.ru" class="logo">
									<p>СТК-МЕТАЛЛ</p>
									<p class="partner-desc">завод металлоконструкций</p>
								</td>
								<td>
									<p class="partners-text">
										C 2011 года мы рекомендуем завод СТК-Металл как поставщиков МК. Компания доставляет МК до строительных объектов по всей России. Если в вашем проекте требуются не только ЖБИ, но и МК, вы можете составить заявку для наших партнёров <a href="http://www.stk-metal.ru">на сайте СТК-Металла</a>
									</p>
								</td>
							</tr>
						</table>
					</div>
				</a>
			</div>

			<div class="content-container">
				<div class="content">
					<div class="search-form">
						<table>
							<tr>
								<td class="search-form-title">Поиск в каталоге продукции:</td>
								<td class="search-form-input">
									<input id="search_condition" type="text" value="{% if searchCondition|default %}{{ searchCondition }}{% else %}Запрос для поиска ...{% endif %}">
								</td>
								<td class="search-form-submit">
									<input class="btn-gray btn-search-action" id="btn-search-action" type="button" value="Найти">
								</td>
							</tr>
						</table>
					</div>
					<div class="primary-content">
						{% block content %}{% endblock %}
					</div>
				</div>
			</div>
		</div>

		<div class="clearing"></div>

		<div class="footer-empty">&nbsp;</div>
		<div class="footer rcs">
			<div>Все права защищены. <script>document.write("2009-"+new Date().getFullYear());</script> ООО &laquo;СТК-ПромБетон&raquo; (Санкт-Петербург)</div>
		</div>
	</div>

	<div class="redline"></div>
{% endblock %}

{% block js %}
	<script src="http://yandex.st/jquery-ui/1.8.23/jquery.ui.core.min.js"></script>
	<script src="http://yandex.st/jquery-ui/1.8.23/jquery.ui.widget.min.js"></script>
	<script src="http://yandex.st/jquery-ui/1.8.23/jquery.ui.position.min.js"></script>
	<script src="http://yandex.st/jquery-ui/1.8.23/jquery.ui.autocomplete.min.js"></script>
	<script src="{{ asset('bundles/main/js/jquery.history.js') }}"></script>
	<script src="{{ asset('bundles/main/js/jquery.mousewheel.js') }}"></script>
	<script src="{{ asset('bundles/main/js/jquery.jcarousel.min.js') }}"></script>
	<script src="{{ asset('bundles/main/js/jquery.sticky.js') }}"></script>
	<script src="{{ asset('bundles/main/js/jquery.spin.js') }}"></script>
	<script src="{{ asset('bundles/main/js/jquery.mask.min.js') }}"></script>
	<script src="{{ asset('bundles/main/js/jquery.darktooltip.min.js') }}"></script>
	<script src="{{ asset('bundles/main/js/bootstrap.min.js') }}"></script>
	<script src="{{ asset('bundles/main/js/accordion.js') }}"></script>
	<script src="{{ asset('bundles/main/plugins/shadowbox/shadowbox.js') }}"></script>
	<script src="{{ asset('bundles/main/js/shop-gbi.js') }}"></script>
	<script src="{{ asset('bundles/main/js/engine-gbi.js') }}"></script>
	<script src="{{ asset('bundles/catalog/js/cart.js') }}"></script>

	<script >
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-27310520-1']);
		_gaq.push(['_trackPageview']);

		(function () {
			var ga = document.createElement('script');
			ga.type = 'text/javascript';
			ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(ga, s);
		})();
	</script>
	<script src="/bundles/main/js/jquery.tooltipster.min.js"></script>
	<script src="/bundles/main/js/jquery.maphilight.min.js"></script>

	<script>
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-27310520-1']);
		_gaq.push(['_trackPageview']);

		(function () {
			var ga = document.createElement('script');
			ga.type = 'text/javascript';
			ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(ga, s);
		})();
	</script>


	<script type="text/javascript">
		Shadowbox.init({
			animate: false,
			animateFade: false
		});
	</script>

	<!-- Yandex.Metrika counter -->
	<script>
		(function (d, w, c) {
			(w[c] = w[c] || []).push(function () {
				try {
					w.yaCounter20644051 = new Ya.Metrika({id: 20644051,
						webvisor: true,
						clickmap: true,
						trackLinks: true,
						accurateTrackBounce: true});
				} catch (e) {
				}
			});

			var n = d.getElementsByTagName("script")[0],
					s = d.createElement("script"),
					f = function () {
						n.parentNode.insertBefore(s, n);
					};
			s.type = "text/javascript";
			s.async = true;
			s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

			if (w.opera == "[object Opera]") {
				d.addEventListener("DOMContentLoaded", f, false);
			} else {
				f();
			}
		})(document, window, "yandex_metrika_callbacks");
	</script>

	<noscript>
		<div><img src="//mc.yandex.ru/watch/20644051" style="position:absolute; left:-9999px;" alt=""/></div>
	</noscript>
	<!-- /Yandex.Metrika counter -->

	<!-- Google analitics -->
	<script>
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-42242414-1']);
		_gaq.push(['_trackPageview']);

		(function () {
			var ga = document.createElement('script');
			ga.type = 'text/javascript';
			ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(ga, s);
		})();
	</script>

	<!-- Callbaska -->
		<script src="https://my.callbaska.ru/callback.js" async charset="utf-8"></script>
	<!-- Callbaska -->
{% endblock %}