{% extends "AppMainBundle:Default:layout.html.twig" %}

{% block title %}
    {{ page.title }}
{% endblock %}

{% block keywords %}
    {{ page.description }}
{% endblock %}

{% block leftMenu %}
    {% if(page.path is defined) %}
    <style type="text/css">
        html, body {
            {% if (page.path[0].id == 35) %}
                background:  #ffffff url("/bundles/main/images/bg/detskie-prazdniki.jpg") !important;
            {% elseif(page.path[0].id == 34) %}
                background:  #ffffff url("/bundles/main/images/bg/svadba.jpg") !important;
            {% elseif(page.path[0].id == 26) %}
                background:  #ffffff url("/bundles/main/images/bg/primary.jpg") !important;
            {% endif %}
        }
    {% endif %}
    </style>
    <div class="menu-second-content">

        {% for service in tree %}
        <div class="menu-second-section {% if service.activeLink is defined and service.activeLink %}menu-second-section-selected{% endif %}">
              {% if service.__children is defined %}
                <h2> Фотографии в случайном порядке</h2>
                <ul>
                {% for children in service.__children %}
                    <li>
                        <a href="/{{ service.alias }}/{{ children.alias }}/">{% autoescape false %}{{ children.menutitle }}{% endautoescape %}</a>
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
        {% endfor %}
    </div>
{% endblock %}

{% block content %}
    {% if page.path is defined %}
        <div class="location">
            {% for parentService in page.path %}
                <span class="location section">
                    <a href="/{{ parentService.alias }}">
                        {% autoescape false %}
                        {{ parentService.menutitle }}
                        {% endautoescape %}
                    </a>
                </span>
                <span class="location separate">/</span>
            {% endfor %}
        </div>
    {% endif %}

    {% if page.alias != "team-building" %}
        {% if page.childrens is defined %}
            <div class="childs-docs">
                            <ul>
                {% for children in page.childrens %}
                    <li>
                        <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}{{ children.alias }}/">
                            <div class="childs-docs-thumb">
                                {% if fileExists("/var/www/media-concern.ru/www/web/bundles/main/images/photos/" ~ children.alias ~ "/1-th.jpg") %}
                                    <img src="/bundles/main/images/photos/{{ children.alias }}/1-th.jpg">
                                {% endif %}
                            </div>
                            <div class="childs-docs-title">
                                {% autoescape false %}
                                {{ children.menutitle }}
                                {% endautoescape %}
                            </div>
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% else %}
        {% if page.childrens is defined %}
            <div class="childs-docs">
                <h2 align="center">Новинки тимбилдинга</h2>
                <ul>
                    {% for children in page.childrens %}
                        {% if loop.index == 5 %}
                        <h2 align="center">Классические сценарии  тимбилдинга</h2>
                        {% elseif   loop.index == 9 %}
                        <h2 align="center">Оригинальные сценарии  тимбилдинга</h2>
                        {% elseif  loop.index == 13 %}
                        <h2 align="center">Эксклюзивные сценарии  тимбилдинга</h2>
                        {% elseif loop.index == 16 %}
                        <h2 align="center">Ориентирование. Корпоративы-квесты, сценарии тимбилдинга.</h2>
                        {% elseif  loop.index  == 20 %}
                        <h2 align="center">Интеллектуальные сценарии тимбилдинга</h2>
                        {% elseif  loop.index  == 23 %}
                        <h2 align="center">Стратегические сценарии тимбилдинга</h2>
                        {% elseif loop.index  == 25 %}
                        <h2 align="center">Творческие сценарии тимбилдинга</h2>
                        {%endif%}

                        <li>
                            <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}{{ children.alias }}/">
                                <div class="childs-docs-thumb">
                                    {% if fileExists("/var/www/media-concern.ru/www/web/bundles/main/images/photos/" ~ children.alias ~ "/1-th.jpg") %}
                                        <img src="/bundles/main/images/photos/{{ children.alias }}/1-th.jpg">
                                    {% endif %}
                                </div>
                                <div class="childs-docs-title">
                                    {% autoescape false %}
                                    {{ children.menutitle }}
                                    {% endautoescape %}
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endif %}

    {% autoescape false %}
        {{ page.content }}
        <div class="enc-order">
            <table>
                <tr>
                    <td class="enc-order icon"><img src="/bundles/main/images/icon-enc-order.png"></td>
                    <td class="enc-order data">
                        <a href="/zakazat-prazdnik/">Закажите Праздник<br>/ Мероприятие</a> On-Line
                    </td>
                    <td class="enc-order separate">или</td>
                    <td class="enc-order icon"><img src="/bundles/main/images/icon-enc-phone.png"></td>
                    <td class="enc-order data">
                        Позвоните нам:
                        <div>(812) 454-54-03, (812) 925-06-55, (921) 892-35-52</div>
                    </td>
                </tr>
            </table>
        </div>
    {% endautoescape %}
{% endblock %}