{% extends "AppMainBundle:Default:layout.html.twig" %}

{% block title %}
	{{ gbiObject.getTitle() }}
{% endblock %}

{% block description %}
	{% if gbiObject.getDescription() is empty %}
		{{ gbiObject.getTitle() }}
	{% else %}
		{{ gbiObject.getDescription() }}
	{% endif %}
{% endblock %}

{% block  keywords %}
	{{ gbiObject.getKeywords() }}
{% endblock %}

{% block content %}
	<h1>
		{% if gbiObject.getH1() is empty %}
			{{ gbiObject.getTitle() }}
		{% else %}
			{{ gbiObject.getH1() }}
		{% endif %}
	</h1>
	{% autoescape false %}
	{{ gbiObject.getText() }}
	{% endautoescape %}


{% endblock %}