{% extends "AppMainBundle:Default:layout.html.twig" %}

{% block title %}
    {{ gbiObject.title }}
{% endblock %}

{% block description %}
    {% if gbiObject.description is empty %}
        {{ gbiObject.title }}
    {% else %}
        {{ gbiObject.description }}
    {% endif %}
{% endblock %}

{% block  keywords %}
    {{ gbiObject.keywords }}
{% endblock %}

{% block content %}
    <h1>
        {% if gbiObject.h1 is empty %}
            {{ gbiObject.title }}
        {% else %}
            {{ gbiObject.h1 }}
        {% endif %}
    </h1>
    {% autoescape false %}
        {{ gbiObject.content }}
    {% endautoescape %}


{% endblock %}