{# Макрос для построения дерева с категориями. Реализован через стандартный рекурсивный алгоритм обхода дерева. #}

{% macro tree_build(categoriesTree, depthToBuild) %}
	{% for category in categoriesTree %}
		{% if depthToBuild > 1 %}
			<div class='akkordion-title' id='cat-{{ category.id }}'>{{ category.name }}<i class='fa fa-caret-left'></i></div>
			{% if category.__children is not empty %}
				<div class='akkordion-content'>
					<p class='akkordion-last-paragraph'><a class='akkordion-link-to-category' href="{{ path('app_catalog_category', {'id': category.id}) }}">перейти в категорию<i class='fa fa-long-arrow-right'></i></a></p>
					{{ _self.tree_build(category.__children, depthToBuild - 1) }}
				</div>
			{% endif %}
		{% else  %}
			<p><a class='akkordion-link' href="{{ path('app_catalog_category', {'id': category.id}) }}">{{ category['name'] }}</a></p>
		{% endif %}
	{% endfor %}
{% endmacro %}