{% set cart = cart_service.loadCart(true) %}
<div id="shop-cart" class="shop-cart">
	<a href="/order/">
		<div id="cartInner" class="{% if cart.getProducts() | length != 0 %}cart-full{% else %}cart-empty{% endif %}">
			<div class="basket-content">{{ cart.getProducts() | length }}</div>
		</div>
	</a>
</div>
{% if cart.getProducts() | length != 0 %}
	<div class="mbasket-items">
		<table width="100%">
			{% for product in cart.getProducts() %}
				<tr class="cart-order">
					<td width="70%" align="right" nowrap="">
						<b>
							<a href="{{ path('app_catalog_product', {'id': product.model.getId()}) }}">{{ product.model.getTitle() }}</a>
						</b>
					</td>
					<td width="15%" align="left">
						<b>{{ product.count }} шт.</b>
					</td>
					<td width="15%" align="right">
						<a onclick="return Cart.remove({{ product.model.getId() }}, {{ product.count }});" title="Удалить" class="shk-del"><img src="/bundles/main/images/icon-delete.png" alt="Удалить"></a>
					</td>
				</tr>
			{% endfor %}
		</table>
		<div class="mbasket-clear">
			<span id="butEmptyCart" class="empty-cart" data-tooltip="Вы уверены?">Удалить все позиции</span>
		</div>
	</div>
{% endif %}