{% extends "AppMainBundle:Default:layout.html.twig" %}

{% block title %}
    Оформление заказа
{% endblock %}

{% block description %}
{% endblock %}

{% block content %}
    <h1>
        Оформление заказа
    </h1>
    <div class="order rcs">
        <div class="showcase-title">Содержание заказа</div>
        <div class="order rcs">

            <div class="order-products">
                <table style="width: 100%">
                    <tr>
                        <td colspan="2">Код</td>
                        <th>Наименование</th>
                        <th>Цена</th>
                        <th colspan="2">Количество</th>
                    </tr>
                    {% for product in cart.products %}
                    <tr>
                        <td class="photo">
                            <a href="/bundles/main/images/photos/{{ product.model.category.id }}/{{ product.model.id }}.jpg" rel="shadowbox[gbi-photos]" title="{{ product.model.name }}| ЖБИ изделие">
                                <img src="/bundles/main/images/icon-photo-link.png">
                            </a>
                        </td>
                        <td>
                            {{ product.model.id }}
                        </td>
                        <td class="name">
                            <a href="/catalog/?category={{ product.model.category.id }}&amp;position={{ product.model.id }}" class="gbi-link">
                                <span class="gbi-link name">
                                    {{ product.model.name }}
                                </span>
                            </a>
                        </td>
                        <td class="price">
                            {% if product.model.price1 %}
                                {{ product.model.price1 }} руб.
                            {% else %}
                                По запросу
                            {% endif %}
                        </td>
                        <td class="rest-container">
                            <input onchange="Cart.edit($(this).attr('productId'), $(this).val());" type="number" min="1" max="999999" productId="{{ product.model.id }}" value="{{ product.count }}" class="order-rest" style="margin-right: 0px; padding-right: 0px;">
                        </td>
                        <td class="positions-list delete">
                            <a href="javascript:void(0)" onclick="Cart.remove($(this).parents('tr'), {{ product.model.id }})" class="order-delete" title="Удалить из заказа">
                                <img src="/bundles/main/images/icon-clear-search.png">
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="showcase-title">Контактные данные</div>
        <div class="form-order">
            {% include "AppCatalogBundle:Form:order.html.twig" %}
        </div>
    </div>
{% endblock %}