<form action="{{ path('app_catalog_order') }}" method="post" {{ form_enctype(form) }} id="shopOrderForm">
		{{ form_errors(form) }}
		<table class="shopOrderTable">
			<tr>
				<td>Ваше имя:<sup>*</sup></td>
				<td>{{ form_widget(form.person) }}</td>
			</tr>
			<tr>
				<td>Контактный телефон:<sup>*</sup></td>
				<td>
					{{ form_widget(form.phone) }}
					<div class="form-error">
						{{ form_errors(form.phone) }}
					</div>
				</td>
			</tr>
			<tr>
				<td>Электронный адрес (Е-mail):<sup>*</sup></td>
				<td>{{ form_widget(form.email) }}</td>
			</tr>
			<tr>
				<td>Полное название организации:<sup>*</sup></td>
				<td>{{ form_widget(form.company) }}</td>
			</tr>
			<tr>
				<td>Адрес поставки:</td>
				<td>{{ form_widget(form.deliveryAddress) }}</td>
			</tr>
			<tr>
				<td>Комментарий к заказу:</td>
				<td>{{ form_widget(form.comment) }}</td>
			</tr>
			<tr>
				<td>Приложить файл:</td>
				<td>
					<div>
						<div class="attach_field"><div><input type="file" name="attachment[]" accept="text/plain, application/msword, text/richtext, application/x-compressed" value="/"></div></div>
						<a href="javascript:;" class="add_attach_field" style="display: none;">Прикрепить ещё файл</a>
					</div></td>
			</tr>
			<tr>
				<td></td>
				<td class="td_submit"><input type="submit" name="submit" class="button btn" value="Отправить заказ"></td>
			</tr>
			<tr>
				<td></td>
				<td class="form-order order-warning">
					<div class="dostavka-gbi">
						<p>
							Варианты поставки
						</p>
						<ul>
							<li>Доставка автотранспортом компании</li>
							<li>Доставка по железной дороге</li>
							<li>Самовывоз со склада в Санкт-Петербурге и Ленинградской области</li>
						</ul>
					</div>
					<div class="dostavka-gbi">
						<p>
							Стоимость доставки
						</p>
						<ul>
							<li>Цена доставки по Санкт-Петербургу <span class="price">от 6000 руб.</span></li>
							<li>Цена доставки по Ленинградской области <span class="price">от 10000 руб.</span></li>
							<li>Цена доставки в другие регионы России <span class="price">от 20000 руб.</span></li>
						</ul>
					</div>
				</td>
			</tr>
		</table>
</form>