{% extends "AppMainBundle:Default:layout.html.twig" %}

{% block title %}
	{{ object.getTitle() }}
{% endblock %}

{% block description %}
	{% if object.getDescription() is empty %}
		{{ object.getTitle() }}
	{% else %}
		{{ object.getDescription() }}
	{% endif %}
{% endblock %}

{% block  keywords %}
	{{ object.getKeywords() }}
{% endblock %}

{% block content %}
	<h1>
		{% if object.getH1() is empty %}
			{{ object.getTitle() }}
		{% else %}
			{{ object.getH1() }}
		{% endif %}
	</h1>
	{% autoescape false %}
	    {% include template_from_string(object.getText()) %}
	{% endautoescape %}


{% endblock %}