<div class="gbi-list">
	<table>
		<thead>
			<tr>
				<th>Тип</th>
				<th>Фото</th>
				<th>Код</th>
				<th>Рабочая документация / Наименование / Марка</th>
				<th>Цена</th>
			</tr>
		</thead>
		{% for element in elements %}
			{% if element.razdel == 1 %}
				<tr>
					<td>Раздел</td>
					<td class="image">
						{% if element.img != "/assets/images/sections/logo-prozr.png" %}
							<a href="{{ element.img }}" rel="shadowbox"><i class="fa fa-camera"></i></a>
						{% endif %}
					</td>
					<td class="search-element-nomen">-</td>
					<td class="gbi-list name">
						<a href="{{ path('app_catalog_category', {'id': element.id}) }}">{{ element.label }}</a>
					</td>
					<td>-</td>
				</tr>
			{% else %}
				<tr>
					<td>Изделие</td>
					<td class="image">
						{% if element.img != "/assets/images/gbi-photos/prod-alt-image.png" %}
							<i class="fa fa-camera"></i>
							<a href="{{ element.img }}" rel="shadowbox"><img src="{{ element.img }}" class="element-photo"></a>
						{% endif %}
					</td>
					<td class="search-element-nomen">{{ element.nomen }}</td>
					<td class="gbi-list name">
						<a style="font-weight: normal;" href="{{ path('app_catalog_product', {'id': element.id}) }}">
							[{{ element.desc }}] {{ element.label }}
						</a>
					</td>
					<td class="gbi-list price">
						{% if element.price != 0 %}
							{{ (((element.price / 5) | round(0, 'ceil')) * 5)|number_format(0, '.', ' ') }} руб.
						{% else %}
							По запросу
						{% endif %}
					</td>
				</tr>
			{% endif %}
		{% endfor %}
	</table>
	<p class="price-desc price-desc-1">Все цены на железобетонные изделия указаны с НДС</p>
	<p class="price-desc price-desc-last price-desc-1">Не является публичной офертой</p>
</div>