<div class="gbi-list">
	<table>
		<thead>
		<tr>
			<td> Тип </td>
			<td> Фото </td>
			<td class="search-element-nomen"> Код </td>
			<td> Рабочая документация / Наименование / Марка </td>
			<td> Цена </td>
		</tr>
		</thead>
		{% for element in elements %}
			{% if element.razdel == 1 %}
				<tr class="gbi-list-{{ element.id }}">
					<td>Раздел</td>
					<td>
						{% if element.img != "/assets/images/sections/logo-prozr.png" %}
							<img src="/assets/images/icon-photo.png">
						{% endif %}
					</td>
					<td class="search-element-nomen">-</td>
					<td class="gbi-list name">
						<a href="{{ path('app_catalog_category', {'id': element.id}) }}">{{ element.label }}</a>
					</td>
					<td></td>
				</tr>
				<div class="image"></div>
			{% else %}
				<tr>
					<td>Изделие</td>
					<td>
						{% if element.img != "/assets/images/sections/logo-prozr.png" %}
							<img src="/assets/images/icon-photo.png">
						{% endif %}
					</td>
					<td class="search-element-nomen">{{ element.nomen }}</td>
					<td class="gbi-list name">
						<a style="font-weight: normal;" href="{{ path('app_catalog_product', {'id': element.id}) }}">
							[{{ element.desc }}] {{ element.label }}
						</a>
					</td>
					<td>
						{% if element.price != 0 %}
							{{ ((element.price / 5) | round(0, 'ceil')) * 5 }} руб.
						{% else %}
							По запросу
						{% endif %}
					</td>
				</tr>
				<div class="image-"{{ element.id }}></div>
			{% endif %}
		{% endfor %}
	</table>
	<p class="price-desc price-desc-1">Все цены на <a href="/gbi/">железобетонные изделия</a> указаны с НДС</p>
</div>
