{% extends "AppAdminBundle:Admin:entity.html.twig" %}

{% set page_title = 'Изделие' %}
{% set entity_name = 'product' %}
{% set entity_id = form.vars.value.id ?: null %}

{% block breadcrumbs %}
  <div class="header-links navbar-left">
    <ol class="header-links-breadcrumbs breadcrumb">
      <li><a href="{{ path('admin_index') }}">Dashboard</a></li>
      <li><a href="{{ path('admin_product_list') }}">ProductList</a></li>
      <li class="active">{{ form.vars.value.name ?: 'Новый товар' }}</li>
    </ol>

    <span class="header-entity-link">
      {% if form.vars.value.id %}
        Ссылка на сущность: <a href="{{ path('app_catalog_product', {'id': form.vars.value.id }) }}"
                               target="_blank">{{ path('app_catalog_product', {'id': form.vars.value.id }) }}</a>
      {% endif %}
    </span>
  </div>
{% endblock %}

{% block main_properties %}
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">Название</div>
      {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">ID</div>
      {{ form_widget(form.id, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">Introtext</div>
      {{ form_widget(form.introtext, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

  <div class="form-group">
    <div class="checkbox">
      <label>{{ form_widget(form.isTextPublished) }} Текст опубликован</label>
    </div>
  </div>
{% endblock %}

{% block additional_properties %}
  <div class="row">
    <div class="col-sm-6 paddingless-right">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">Цена</div>
          {{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">Дата цены</div>
          {{ form_widget(form.datePriceUpdated, {'attr': {'class': 'form-control'}}) }}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 paddingless-right">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">Высота</div>
          {{ form_widget(form.height, {'attr': {'class': 'form-control'}}) }}
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">Ширина</div>
          {{ form_widget(form.width, {'attr': {'class': 'form-control'}}) }}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 paddingless-right">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">Длина</div>
          {{ form_widget(form.length, {'attr': {'class': 'form-control'}}) }}
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">Марка</div>
          {{ form_widget(form.mark, {'attr': {'class': 'form-control'}}) }}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 paddingless-right">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">Диаметр внеш</div>
          {{ form_widget(form.diameterOut, {'attr': {'class': 'form-control'}}) }}
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">Диаметр внутр</div>
          {{ form_widget(form.diameterIn, {'attr': {'class': 'form-control'}}) }}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 paddingless-right">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">Масса</div>
          {{ form_widget(form.weight, {'attr': {'class': 'form-control'}}) }}
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">Объем</div>
          {{ form_widget(form.volume, {'attr': {'class': 'form-control'}}) }}
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">Родитель</div>
      {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

  <div class="btn-wrapper">
    <a href="{{ path('admin_category_edit') }}" target="_blank">
      <button class="btn btn-primary" type="button">Добавить новый</button>
    </a>
  </div>
{% endblock %}

{% block actions %}
  {% include 'AppAdminBundle:Admin:actions.html.twig' with {'entity_name' : entity_name} %}
{% endblock %}

{% block delete_modal %}
  {% if form.vars.value.id %}
    <h3 class="text-center">Вы действительно хотите удалить {{ form.vars.value.name }}?</h3>
    <div>
      <a href="{{ path('admin_product_delete', {'id': form.vars.value.id }) }}">
        <button class="modal-delete btn btn-danger js-modal-delete">Удалить</button>
      </a>
      <button class="modal-delete-cancel btn btn-primary js-modal-delete-cancel">Отменить</button>
    </div>
  {% endif %}
{% endblock %}