{% extends "AppMainBundle:Default:layout.html.twig" %}

{% block title %}{{ category.getName() }}{% endblock %}
{% block keywords %}{{ category.getKeywords() }}{% endblock %}

{% block content %}
	<div class="location">
		<span class="location section">
			<a href="/">Главная</a>
		</span>

		{% for item in parents %}
			{% if loop.index != loop.last %}
				<span class="location separate">»</span>
				<span class="location section">
					<a href="{{ path('app_catalog_category', {'id': item.getId()}) }}">{{ item.getTitle() }}</a>
				</span>
			{% endif %}
		{% endfor %}
	</div>

	<h1>{{ category.getH1() }}</h1>
	{% for item in children | sortbyfield('name') %}
		{% if item.model.getIsActive() %}
			<div class="cat_cat">
				<a href="{{ path('app_catalog_category', {'id': item.id}) }}">
					<div style="display: inline-block">
						<span class="number">{{ item.model.getId() }}</span>
						<span class="catalog-second-level">{{ item.model.getTitle() }}</span>
					</div>
					<div class="gbi-showcase-top-line">
						<img src="{{ item.model.getPicturePath() }}">
						<div class="cat-info">
						</div>
					</div>
					<div class="link-detailed">подробнее&nbsp;»</div>
				</a>
			</div>
		{% endif %}
	{% endfor %}
{% endblock %}