{% extends "AppMainBundle:Default:layout.html.twig" %}

{% block title %}
	{{ category.title }}
{% endblock %}

{% block description %}
	{{ category.description }}
{% endblock %}


{% block content %}
	<div class="location">
		{% for item in parents %}
			<span class="location section">
            	<a href="/gbi/{{ catUrl }}/?section={{ item.id }}">{{ item.title }}</a>
			</span>
			<span class="location separate">/</span>
		{% endfor %}
	</div>

	<div class="gbi-showcase">
		<table>
			{% for item in children if item.model.getIsActive() %}
				{% if loop.index is odd %}<tr>{% endif %}
				<td>
					<span>{{ item.model.getId() }}</span> <a href="/gbi/{{ catUrl }}/?section={{ item.model.getId() }}">
						<h2>{% if item.model.getName() %}{{ item.model.getName() }}{% else %}{{ item.model.getTitle() }}{% endif %}</h2>

						<div class="gbi-showcase-top-line">
							<img src="{{ item.model.getPicturePath() }}"/>
							<div class="cat-info">
								{#<h3>{% if item.model.getMark() %}{{ item.model.getMark() }}{% endif %}</h3><br/>#}

								<p>{{ item.model.getTitle() }}</p>

								<div class="link-detailed">подробнее&nbsp&raquo</div>
							</div>
						</div>
					</a>
				</td>
				{% if loop.index is even %}
					</tr>
					<tr style="height:20px"></tr>
				{% endif %}
			{% endfor %}
		</table>
	</div>
	{% autoescape false %}
	{{ category.description }}
	{% endautoescape %}
{% endblock %}