{% extends "AppMainBundle:Default:layout.html.twig" %}

{% block title %}
    Beston
{% endblock %}

{% block description %}
{% endblock %}


{% block content %}

        <h1 class="info-header">
            {{ cat.name  }} оптом и в розницу.
        </h1>
        <div class="breadcrumb"> <a href="/">Home</a>
            {% for category in categories %}
                {% if loop.first!=true %}
                    ->
                    <a href="{{ path('category_show', {'categoryId':category.id} ) }}">{{ category.name }}</a>
                {% endif %}
            {% endfor %}
        </div>
                    <table class="product-wrapper product-list">
                        {% for product in products %}
                        {% if loop.first %}
                        <tr>
                            {% endif %}
                            <td>
                                <a href="{{ path('app_product',{'productId':product.id} ) }}">
                                    <div>
                                        <span>{{ product.name }}</span>
                                        <img src="/{{ product.filepath }}" alt=""/>
                                    </div>
                                    <div class="price product-medium-price">
                                        <p>{{ product.price }}.-</p>
                                    </div>
                                </a>
                            </td>
                            {% if loop.index%6==0 and loop.last==false %}
                        </tr>
                        <tr>
                            {% endif %}
                            {% endfor %}
                        </tr>
                    </table>
        </div>



{% endblock %}