{% extends "AppMainBundle:Default:layout.html.twig" %}

{% block title %}
	{{ category.getTitle() }}
{% endblock %}

{% block description %}
	{{ category.getDescription() }}
{% endblock %}

{% block keywords %}
	{{ category.getKeywords() }}
{% endblock %}

{% block content %}
	<div class="location">
		<span class="location section">
			<a href="/">Главная</a>
		</span>

		{% for item in parents %}
			{% if loop.index != loop.last %}
				<span class="location separate">»</span>
				<span class="location section">
					<a href="/gbi/{{ catUrl }}/?section={{ item.getId() }}">{{ item.getTitle() }}</a>
				</span>
			{% endif %}
		{% endfor %}
	</div>

	<h1>{{ category.getH1() }}</h1>
	{% for item in children | sortbyfield('name') %}
		{% if item.model.getIsActive() %}
			<div class="cat_cat">
				<a href="{{ path('app_catalog_explore_category', {'catUrl': catUrl, 'section': item.model.getId()}) }}">
					<div style="display: inline-block">
						<span class="number">{{ item.model.getId() }}</span>
						<span class="catalog-second-level">{{ item.model.getName() }}</span>
					</div>
					<div class="gbi-showcase-top-line">
						<img src="{{ item.model.getPicturePath() }}">
						<div class="cat-info">
						</div>
					</div>
					<div class="link-detailed">подробнее&nbsp;»</div>
				</a>
			</div>
		{% endif %}
	{% endfor %}
{% endblock %}