{% extends "AppMainBundle:Default:layout.html.twig" %}

{% block title %}
    Amtok
{% endblock %}

{% block description %}
{% endblock %}


{% block content %}
    <div  class="category-name"><p>{{product.name}}  {{ product.unit }}</p></div>

        <div class="product-main-content">
                <div class="product-spacer-top"></div>
                    <div class="product-main-header">
                        <div class="product-name">{{ product.name}} <span class="product-mark">{{ product.unit }}</span></div>
                        <div class="product-price">{{ product.price}}</div>
                    </div>
                    <div class="product-wrapper">
                        <div class="product-main-photo">
                            <img src="/{{ product.filepath }}" />
                        </div>
                        <div class="product-info">
                            <ul class="nav nav-tabs" id="product-tab">
                                <li class="active"><a href="#tab1" data-toggle="tab">Характеристики</a></li>
                                <li class><a href="#tab2" data-toggle="tab">Описание</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab1">
                                    <div class="product-info-main">
                                        Вольтаж:<br>
                                        Разъем:<br>
                                        Производитель:    <br>
                                    </div>
                                    <div class="product-info-info">
                                        {{ product.voltage }}<br>
                                        {{ product.dcConnector }} <br>
                                        {% for trademark in trademarks(product) %}
                                            {{ trademark.alias }}
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab2">
                                    {{ product.description}}
                                </div>
                            </div>
                        </div>
                    </div>
        </div>


{% endblock %}