{% extends "AppMainBundle:Default:layout.html.twig" %}

{% block title %}
	{{ product.getTitle() }}
{% endblock %}

{% block description %}
	{{ product.getDescription() }}
{% endblock %}

{% block keywords %}
	{{ product.getKeywords() }}
{% endblock %}

{% block content %}
	<div class="location">
		{% for item in parents %}
			<span class="location section">
            <a href="/gbi/{{ catUrl }}/?section={{ item.getId() }}">{{ item.getTitle() }}</a>
        </span>
			<span class="location separate">/</span>
		{% endfor %}
	</div>
	<div class="product-header">
		<h1 style="color:#333333">
			{{ product.getH1() }}
			<span class="product-number">{{ product.getMark() }}</span>
			{% if product.getNomen() %}
				<span class="nomen" style="float: right">{{ product.getNomen() }}</span>
			{% endif %}
		</h1>

	</div>
	<div class="product">
	<div class="product-main">
		<div class="product-photo">
			{% if product.getIsHavePhoto() %}
				<img src="/assets/main/images/gbi-photos/{{ product.getId() }}.jpg">
			{% else %}
				<img src="/assets/main/images/gbi-photos/prod-alt-image.png">
			{% endif %}
		</div>

		<div class="product-info">
			<ul class="nav nav-tabs" id="product-tab">
				<li class="active"><a href="#tab1" data-toggle="tab">Характеристики</a></li>
				<li><a href="#tab2" data-toggle="tab">Описание</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="tab1">
					<table class="table table-condensed product-info-table">
						{% if product.getNomen() %}
							<tr>
								<td class="product-desc-left-col">Код</td>
								<td class="product-desc-right-col">{{ product.getNomen() }}</td>
							</tr>
						{% endif %}

						{% if product.getMark() %}
							<tr>
								<td class="product-desc-left-col">Марка ЖБИ</td>
								<td class="product-desc-right-col">{{ product.getMark() }}</td>
							</tr>
						{% endif %}
						{% if section.getMark() %}
							<tr>
								<td class="product-desc-left-col">Рабочая документация</td>
								<td class="product-desc-right-col">{{ section.getMark() }}</td>
							</tr>
						{% endif %}

						{% if product.getLength() %}
							<tr>
								<td class="product-desc-left-col">Длина (мм)</td>
								<td class="product-desc-right-col">{{ product.getLength() }}</td>
							</tr>
						{% endif %}

						{% if product.getWidth() %}
							<tr>
								<td class="product-desc-left-col">Ширина (мм)</td>
								<td class="product-desc-right-col">{{ product.getWidth() }}</td>
							</tr>
						{% endif %}

						{% if product.getHeight() %}
							<tr>
								<td class="product-desc-left-col">Высота (мм)</td>
								<td class="product-desc-right-col">{{ product.getHeight() }}</td>
							</tr>
						{% endif %}
						{% if product.getDiameterIn() %}
							<tr>
								<td class="product-desc-left-col">Внутренний диаметр (мм)</td>
								<td class="product-desc-right-col">{{ product.getDiameterIn() }}</td>
							</tr>
						{% endif %}

						{% if product.getDiameterOut() %}
							<tr>
								<td class="product-desc-left-col">Внешний диаметр (мм)</td>
								<td class="product-desc-right-col">{{ product.getDiameterOut() }}</td>
							</tr>
						{% endif %}


						{% if product.getWeight() %}
							<tr>
								<td class="product-desc-left-col">Масса (кг)</td>
								<td class="product-desc-right-col">{{ product.getWeight() }}</td>
							</tr>
						{% endif %}

						{% if product.getVolume() %}
							<tr>
								<td class="product-desc-left-col">Объем (м3)</td>
								<td class="product-desc-right-col">{{ product.getVolume() }}</td>
							</tr>
						{% endif %}
					</table>
				</div>
				<div class="tab-pane" id="tab2">
					{% autoescape false %}
					{{ product.getText() }}
					{% endautoescape %}
				</div>
			</div>
			<div class="product-for-nds">
				<p>Цена указана с учетом НДС</p>

				<p>Не является публичной офертой</p>
			</div>
		</div>
	</div>
	<div class="product-price-wrapper">
		<div class="product-price">
			<span>Цена:</span>{% if product.getPrice() %} {{ product.getPrice() + product.getPrice() // ((1.1 - 1)*100) }} руб. {% else %} По запросу {% endif %}
		</div>
		<div class="product-bottom-box">
			<a href="/gbi/{{ catUrl }}/?section={{ product.category.getId() }}&gbi={{ product.getId() }}&buy=true" section="{{ product.category.getId() }}" code="{{ product.getId() }}" price="{{ product.getPrice() }}" class="btn btn-primary add-basket">
				<i class="icon-shopping-cart" style="margin-right: 7px;"></i>В корзину</a>
		</div>
	</div>
{% endblock %}