{% block content %}
	<div class="gbi-list">
		<p class="price-desc price-desc-1">Все цены на <a href="/gbi/">железобетонные изделия</a> указаны с НДС</p>
		<table>
			<tr>
				<td colspan="2">Код</td>
				<th>Наименование и марка ЖБИ изделия</th>
				<th>Цена</th>
				<th>Количество</th>
				<th>Купить</th>
			</tr>
			{% for product in products if product.isActive %}
				<tr>
					<td class="gbi-list photo">
						<img src="/assets/main/images/bullet.png">
					</td>
					<td class="gbi-list code">{{ product.nomen }}</td>
					<td class="gbi-list name">
						<a href="/gbi/{{ product.catUrl }}/?section={{ product.sectionId }}&amp;gbi={{ product.id }}">{{ product.name }}</a>
						<b>{{ product.mark }}</b>
						<br>

						<div class="search-work-docs">
							Рабочая документация: <b>{{ product.section.mark }}</b>
						</div>
						<div class="search-hierarchy">
							Раздел:
							{% for path in product.path %}
								<a href="/gbi/{{ product.catUrl }}/?section={{ path.id }}">{{ path.title }}</a>
								<span class="location separate">/</span>
							{% endfor %}
						</div>
					</td>
					<td class="gbi-list price">
						{% if product.price %}
							{{ product.price + product.price // ((1.1 - 1)*100) }} руб.
						{% else %}
							По запросу
						{% endif %}
					</td>
					<td class="gbi-list rest rest-container">
						<input class="basket-rest" type="number" min="1" max="999999" code="{{ product.id }}" value="1">
					</td>
					<td class="gbi-list buy">
						<a href="/gbi/{{ product.catUrl }}/?section={{ product.sectionId }}&amp;gbi={{ product.id }}&amp;buy=true"
						   section="{{ product.sectionId }}" code="{{ product.id }}"
						   price="{% if product.price %} {{ product.price }} {% endif %}" title="{{ product.name }}"
						   class="add-basket">Купить</a>
					</td>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}