{% extends "AppMainBundle:Default:layout.html.twig" %}

{% block title %}
	{{ category.getTitle() }}
{% endblock %}

{% block description %}
	{{ category.getDescription() }}
{% endblock %}

{% block keywords %}
	{{ category.getKeywords() }}
{% endblock %}

{% block content %}
	<div class="location">
		<span class="location section">
			<a href="/">Главная</a>
		</span>

		{% for item in parents %}
			{% if loop.index != loop.last %}
				<span class="location separate">»</span>
				<span class="location section">
					<a href="{{ path('app_catalog_category', {'id': item.getId()}) }}">{{ item.getTitle() }}</a>
				</span>
			{% endif %}
		{% endfor %}
	</div>
	<h1 class="gbi-section">
		{{ category.getH1() }}
	</h1>
	<div class="gbi-list">
		<p class="price-desc price-desc-1">Все цены на железобетонные изделия указаны с НДС</p>

		<p class="price-desc price-desc-1">Не является публичной офертой</p>
		<table>
			<tr>
				<th colspan="2">Код</th>
				<th>Наименование и марка ЖБИ изделия</th>
				<th>Цена</th>
				<th>Количество</th>
			</tr>
			{% for product in category.getProducts() if product.isActive %}
				<tr>
					<td class="gbi-list photo">
						<img src="/bundles/main/images/bullet.png">
					</td>
					<td class="gbi-list code">{{ product.getNomen() }}</td>
					<td class="gbi-list name">
						<a href="{{ path('app_catalog_product', {'id': product.getId()}) }}">{{ product.getName() }}</a></td>
					<td class="gbi-list price">
						{% if product.price %}
							{{ product.getPriceRounded() }} руб.
						{% else %}
							По запросу
						{% endif %}
					</td>
					<td class="gbi-list buy">
						<div class="shk-item">
							<form action="" method="post">
								<fieldset>
									<div class="shk_basket_count">
										<input type="text" name="shk-count" value="1" size="2" maxlength="5" class="basket-rest" style="height: 16px; border: 1px solid rgb(136, 136, 136); vertical-align: bottom; text-align: center; padding: 1px 2px; font-size: 13px; margin-bottom: 0px">
										<img class="field-arr-up" onclick="spinUpCount(this)" src="/assets/snippets/shopkeeper/style/default/img/arr_up.gif" width="17" height="9" alt="" style="cursor: pointer; margin: 0px 0px 11px -2px; vertical-align: bottom;">
										<img class="field-arr-down" onclick="spinDownCount(this)" src="/assets/snippets/shopkeeper/style/default/img/arr_down.gif" width="17" height="9" alt="" style="cursor: pointer; margin: 0px 0px 1px -17px; vertical-align: bottom;">
									</div>
									<div class="shk_basket_buy">
										<input type="button" class="btn-gray add-basket" name="shk-submit" type="submit" value="Заказать">
									</div>
								</fieldset>
							</form>
						</div>
					</td>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}