{% extends "AppMainBundle:Default:layout.html.twig" %}

{% block title %}
	{{ section.getTitle() }}
{% endblock %}

{% block description %}
	{{ section.getDescription() }}
{% endblock %}

{% block keywords %}
	{{ section.getKeywords() }}
{% endblock %}

{% block content %}
	<div class="location">
		{% for item in parents %}
			<span class="location section">
				<a href="/gbi/{{ catUrl }}/?section={{ item.getId() }}">{{ item.getTitle() }}</a>
			</span>
			<span class="location separate">/</span>
		{% endfor %}
	</div>
	<h1 class="gbi-section">
		{{ section.getH1() }}
	</h1>
	{% autoescape false %}
	{{ section.getText() }}
	{% endautoescape %}
	<div class="gbi-list">
		<p class="price-desc price-desc-1">Все цены на железобетонные изделия указаны с НДС</p>

		<p class="price-desc price-desc-1">Не является публичной офертой</p>
		<table>
			<tr>
				<td colspan="2">Код</td>
				<th>Наименование и марка ЖБИ изделия</th>
				<th>Цена</th>
				<th>Количество</th>
				<th>Купить</th>
			</tr>
			{% for product in products if product.isActive %}
				<tr>
					<td class="gbi-list photo">
						<img src="/assets/main/images/bullet.png">
					</td>
					<td class="gbi-list code">{{ product.getNomen() }}</td>
					<td class="gbi-list name">
						<a href="/gbi/{{ catUrl }}/?section={{ section.getId() }}&amp;gbi={{ product.getId() }}">
							{{ product.getName() }}<span> {{ product.getMark() }}</span></a></td>
					<td class="gbi-list price">
						{% if product.getPrice() %}
							{{ product.getPrice() + product.getPrice() // ((1.1 - 1)*100) }} руб.
						{% else %}
							По запросу
						{% endif %}
					</td>
					<td class="gbi-list rest rest-container">
						<input class="basket-rest" type="number" min="1" max="999999" code="{{ product.getId() }}" value="1">
					</td>
					<td class="gbi-list buy">
						<a href="/gbi/{{ catUrl }}/?section={{ section.getId() }}&amp;gbi={{ product.getId() }}&amp;buy=true" section="{{ section.getId() }}" code="{{ product.getId() }}" price="{% if product.getPrice() %} {{ product.getPrice() }} {% endif %}" title="{{ product.getName() }}" class="add-basket">
							<i class="icon-shopping-cart" style="margin-right: 7px;"></i>В корзину</a>
					</td>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}