{% extends "AppMainBundle:Default:layout.html.twig" %}

{% block title %}
	{{ section.title }}
{% endblock %}

{% block description %}
	{{ section.description }}
{% endblock %}

{% block content %}
	<div class="location">
		{% for item in parents %}
			<span class="location section">
            	<a href="/gbi/{{ catUrl }}/?section={{ item.id }}">{{ item.title }}</a>
        	</span>
			<span class="location separate">/</span>
		{% endfor %}
	</div>
	<h1 class="gbi-section">
		{{ section.title }}
	</h1>
	{% autoescape false %}
	{{ section.description }}
	{% endautoescape %}
	<div class="gbi-list">
		<p class="price-desc price-desc-1">Все цены на железобетонные изделия указаны с НДС</p>

		<p class="price-desc price-desc-1">Не является публичной офертой</p>
		<table>
			<tr>
				<td colspan="2">Код</td>
				<th>Наименование и марка ЖБИ изделия</th>
				<th>Цена</th>
				<th>Количество</th>
				<th>Купить</th>
			</tr>
			{% for product in products if product.isActive %}
				<tr>
					<td class="gbi-list photo">
						<img src="/assets/main/images/bullet.png">
					</td>
					<td class="gbi-list code">{{ product.nomen }}</td>
					<td class="gbi-list name">
						<a href="/gbi/{{ catUrl }}/?section={{ section.id }}&amp;gbi={{ product.id }}">
							{{ product.name }}<span> {{ product.mark }}</span></a></td>
					<td class="gbi-list price">
						{% if product.price %}
							{{ product.getPriceRounded() }} руб.
						{% else %}
							По запросу
						{% endif %}
					</td>
					<td class="gbi-list rest rest-container">
						<input class="basket-rest" type="number" min="1" max="999999" code="{{ product.id }}" value="1">
					</td>
					<td class="gbi-list buy">
						<a href="/gbi/{{ catUrl }}/?section={{ section.id }}&amp;gbi={{ product.id }}&amp;buy=true" section="{{ section.id }}" code="{{ product.id }}" price="{% if product.price %} {{ product.price }} {% endif %}" title="{{ product.name }}" class="add-basket">
							<i class="icon-shopping-cart" style="margin-right: 7px;"></i>В корзину</a>
					</td>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}